<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titleSuccessFailure %></title>
</head>
<body>
    <h1><%= successFailureMessage %></h1>
    <h2>Thank You!!</h2>
    <p>For more details and status please <a href="/signupUser">Signup</a> with the same email</p>
    <p>If already a user, <a href="/userLogin">Login</a> with the same email to see the status</p>
</body>
</html>