<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <!-- Bootstrap Links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- CSS Links -->
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">

    <!-- Font Style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/homecss.css">
</head>

<body>
    <!-- Navigation Bar Starts -->
    <div class="m-0">
        <nav class="navbar navbar-expand-xl navbar navbar-dark " style="background-color: #6096B4">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">HER VOICE MATTERS</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link ">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/resources" class="nav-link ">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a href="/stories" class="nav-link">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a href="/aboutus" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contactus" class="nav-link">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/chatwithus" class="nav-link">Chat Bot</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login/signup</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/adminLogin" class="dropdown-item">Administration Login</a>
                                <a href="/userLogin" class="dropdown-item">User Login</a>
                                <a href="/signupUser" class="dropdown-item">User Signup</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Navigation Bar End -->

    <!-- <a href="/signupUser">User SignUp</a>
    <a href="/userLogin">User Login</a>
    <a href="/adminLogin">Admin Login</a>
    <a href="/secret-super-admin">Secret Page</a>
    <a href="/cgovcomplaint">C-Gov Complaint</a>
    <a href="/sgovcomplaint">S-Gov Complaint</a>
    <a href="/privcomplaint">Private Complaint</a> -->
    <!-- Complaint box  Starts-->

    <div class="complaint-box">
        <div class="text-box">
            <a href="/cgovcomplaint">
                <div class="btn"><button class="btn btn-outline-dark complaint-btn btn-lg">CENTRAL GOVERNMENT
                        EMPLOYEE</button></div>
            </a>
            <a href="/sgovcomplaint">
                <div class="btn"><button class="btn btn-outline-dark complaint-btn btn-lg">STATE GOVERNMENT
                        EMPLOYEE</button></div>
            </a>
            <a href="/privcomplaint">
                <div class="btn"><button class="btn btn-outline-dark complaint-btn btn-lg">PRIVATE
                        EMPLOYEE</button></div>
            </a>
        </div>
        <div class="img-box"></div>
    </div>

    <!-- COmplaints box Ends -->


    <!-- carousel Starts -->

    <div id="carouselExampleControls" class="carousel slide bg" data-bs-ride="carousel"
        style="background-image: linear-gradient(to top, #dbf2f8, #bbdbe6, #9cc4d4, #7dadc4, #6096b4);">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/2.jpg" class="d-block w-80 carousel-css " alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/3.jpg" class="d-block w-80 carousel-css" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/1.jpg" class="d-block w-80 carousel-css" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/4.jpg" class="d-block w-80 carousel-css" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Carousel Ends -->





    <!-- Statistics Start -->
    <style>
        html,
        body {
            height: 100%;
            background-image: linear-gradient(to bottom, #dbf2f8, #c6dfe7, #b2cdd7, #9fbac8, #8ca8b8);
        }

        body {
            background: #f2f2f2 url('img/header.jpg') no-repeat center top;
            min-height: 700px;
            -webkit-box-shadow: inset 0 0 0 5px #f2f2f2, inset 0 0 0 10px #90c0aa, inset 0 0 0 15px #f2f2f2;
            -mox-box-shadow: inset 0 0 0 5px #f2f2f2, inset 0 0 0 10px #90c0aa, inset 0 0 0 15px #f2f2f2;
            box-shadow: inset 0 0 0 5px #f2f2f2, inset 0 0 0 10px #90c0aa, inset 0 0 0 15px #f2f2f2;
            margin: 0
        }

        /* #graph-wrapper {
      width: 640px;
      margin: 0 auto;
      padding-top: 275px
    } */
    </style>



    <!-- Graph HTML -->


    <div class="graph-div"
        style="background-image: linear-gradient(to bottom, #dbf2f8, #bbdbe6, #9cc4d4, #7dadc4, #6096b4);">

        <div id="graph-wrapper">
            <h2 style="text-align: center; margin-top: 10px; font-family: 'Ubuntu', sans-serif;">Cases of Sexual
                Harassment at
                Workplace</h2>

            <div class="graph-info">
                <a href="javascript:void(0)" class="visitors">Cases of Sexual Harassment at Workplace</a>


                <a href="#" id="bars"><span></span></a>
                <a href="#" id="lines" class="active"><span></span></a>
            </div>

            <div class="graph-container">
                <div id="graph-lines"></div>
                <div id="graph-bars"></div>
            </div>
        </div>



        <div class="main">
            <div class="choice1">
                <div class="item stat1"><span></span></div>
                <div class="item stat2"><span></span></div>
                <div class="item stat3"><span></span></div>
            </div>
        </div>
    </div>



    <!-- end Graph HTML -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://designmodo.com/demo/interactivegraph/js/jquery.flot.min.js"></script>
    <script>
        $(document).ready(function () {

            // Graph Data ##############################################
            var graphData = [{
                // Visits
                data: [[2015, 1581], [2016, 1149], [2017, 1352], [2018, 1350], [2019, 1550]],
                color: '#71c73e'
            },
            ];

            // Lines Graph #############################################
            $.plot($('#graph-lines'), graphData, {
                series: {
                    points: {
                        show: true,
                        radius: 5
                    },
                    lines: {
                        show: true
                    },
                    shadowSize: 0
                },
                grid: {
                    color: '#646464',
                    borderColor: 'transparent',
                    borderWidth: 20,
                    hoverable: true
                },
                xaxis: {
                    tickColor: 'transparent',
                    tickDecimals: 0
                },
                yaxis: {
                    tickSize: 1000
                }
            });

            // Bars Graph ##############################################
            $.plot($('#graph-bars'), graphData, {
                series: {
                    bars: {
                        show: true,
                        barWidth: .9,
                        align: 'center'
                    },
                    shadowSize: 0
                },
                grid: {
                    color: '#646464',
                    borderColor: 'transparent',
                    borderWidth: 20,
                    hoverable: true
                },
                xaxis: {
                    tickColor: 'transparent',
                    tickDecimals: 2
                },
                yaxis: {
                    tickSize: 1000
                }
            });

            // Graph Toggle ############################################
            $('#graph-bars').hide();

            $('#lines').on('click', function (e) {
                $('#bars').removeClass('active');
                $('#graph-bars').fadeOut();
                $(this).addClass('active');
                $('#graph-lines').fadeIn();
                e.preventDefault();
            });

            $('#bars').on('click', function (e) {
                $('#lines').removeClass('active');
                $('#graph-lines').fadeOut();
                $(this).addClass('active');
                $('#graph-bars').fadeIn().removeClass('hidden');
                e.preventDefault();
            });

            // Tooltip #################################################
            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    top: y - 16,
                    left: x + 20
                }).appendTo('body').fadeIn();
            }

            var previousPoint = null;

            $('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;
                        $('#tooltip').remove();
                        var x = item.datapoint[0],
                            y = item.datapoint[1];
                        showTooltip(item.pageX, item.pageY, y + ' cases in ' + x);
                    }
                } else {
                    $('#tooltip').remove();
                    previousPoint = null;
                }
            });

        });
    </script>
    <!-- Graph Ends -->

    <!-- Statistics End -->

    <!-- Extra Links -->

    <div class="story-box">
        <div class="end-box-item-1">
            <h1>Helpline</h1>
        </div>
        <div class="end-box-item-2">
            <h1>Stories</h1>
        </div>
        <div class="end-box-item-3">
            <h1>News</h1>
        </div>
        <div class="end-box-item-4">
            <h1>Community</h1>
        </div>
    </div>

    <!-- Extra Link ends -->


    <!-- Footer -->







    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 ">
                    <div class="single-box">
                        <img src="/images/logo.jpg" alt="" width="300px" height="225px">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Tech Stacks</h2>
                        <ul>
                            <li><a href="#">HTML/CSS</a></li>
                            <li><a href="#">BootStrap</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">Node JS / Express JS</a></li>
                            <li><a href="#">Mongo DB</a></li>
                            <li><a href="#">EJS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Credits</h2>
                        <ul>
                            <li><a href="http://ncw.nic.in/">National Commision of Women</a></li>
                            <li><a href="https://www.freepik.com/">FREEPIK</a></li>
                            <li><a
                                    href="https://www.forbesindia.com/article/take-one-big-story-of-the-day/rise-in-sexual-harassment-cases-in-indias-top-companies-shows-dichotomy/80721/1/">FORBES(Survey)</a>
                            </li>
                            <li><a href="https://www.rainn.org/">RAINN</a></li>
                            <li><a href="https://ncrb.gov.in/">National Crime Records Bureau</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>About Us</h2>
                        <p>We provide a safe platform for individuals to lodge complaints against sexual harassment. Our
                            confidential and supportive process aims to empower survivors and advocate for change,
                            promoting a
                            harassment-free environment for all.</p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->
</body>

</html>