<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="resources.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

        * {
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #BFCCB5;
        }

        h3 {
            color: #00337C;
            font-weight: bold;
        }


        .resources {
            background-color: #87CBB9;
            height: 200px;
            width: 100%;
            color: #00337C;
            margin: 25px auto;
        }

        .resources h1 {
            font-size: 8rem;
            font-weight: bolder;
            margin-left: 40px;
            margin-top: 50px;
        }
    </style>
</head>

    <nav class="navbar navbar-expand-xl navbar navbar-dark " style="background-color: #6096B4">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">HER VOICE MATTERS</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/resources" class="nav-link ">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="/stories" class="nav-link">Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/aboutus" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contactus" class="nav-link">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login/signup</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="/adminLogin" class="dropdown-item">Administration Login</a>
                            <a href="/userLogin" class="dropdown-item">User Login</a>
                            <a href="/signupUser" class="dropdown-item">User Signup</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




<body>
    <div class="resources">
        <h1>Resources</h1>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h1 class="accordion-header display-1" id="panelsStayOpen-headingOne" style="font-size: 1.5rem;">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <h3>1. Definitions & Examples</h3>
                </button>
            </h1>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>Workplace sexual harassment takes many different forms. It can come from a coworker, a
                        supervisor, or a customer or client, and ranges from unwanted touching, inappropriate comments
                        or jokes, or someone promising you a promotion in exchange for sexual favors.</p>
                    <p>Sexual harassment does not have to be “sexual.” It can also look like teasing, intimidating or
                        offensive comments based on stereotypes (e.g., about how certain people “are” or should act), or
                        bullying someone or a group of people based on their sex, gender identity (man, woman, trans,
                        intersex, nonbinary) or sexual orientation (queer, straight, bisexual, lesbian, gay, asexual,
                        pansexual, two-spirit etc.) Sometimes sexual harassment is about sex and something else, like
                        race or ethnicity. For example, a woman of color may experience harassment in the workplace
                        differently from a white female co-worker. She may be the target of abusive or hostile behavior
                        because of the combination of her sex and her race or ethnicity.</p>
                    <h6>Examples of behavior that could be harassment include but are not limited to:</h6>
                    <ul>
                        <li>making unwanted requests for sexual favors or dates</li>
                        <li>making inappropriate comments about someone’s body or appearance</li>
                        <li>saying bad things about or making fun of someone or all people of a certain gender or sexual
                            orientation (i.e. “women are…” or “gay people all…”)</li>
                        <li>using gender-based or sexual orientation-based slurs (swear words)</li>
                        <li>making vulgar, offensive, or explicit jokes about sex or sexual acts</li>
                        <li>sending or sharing emails, texts, or messages of a sexual nature</li>
                        <li>gossiping about someone’s personal relationships or sex life</li>
                        <li>unwanted or inappropriate touching of any body part, clothing, face, or hair, including
                            hugging, kissing, or assault</li>
                        <li>staring, leering, or making gestures of a sexual nature</li>
                        <li>blocking someone’s movement</li>
                        <li>displaying, sending, or sharing vulgar pictures or pornography</li>

                    </ul>
                    <p>For something to be considered sexual harassment, it matters what the person who’s being harassed
                        thinks; It does not matter if the person who’s doing the harassment thinks it’s OK, harmless,
                        not sexual, or welcomed (i.e., they think you like it or don’t have a problem with it.) It’s
                        still harassment if the behavior is something you do not want or find offensive.</p>
                    <p>It also still counts as harassment even if, in the moment, you don’t immediately say “stop” or
                        something else to let the person know that what they’re saying/doing is inappropriate. For
                        example, you might laugh along at a joke that you find offensive, or accept a hug because you’re
                        caught unaware in the moment, or because you’re worried the person will react badly if you don’t
                        go along with their behavior. If the harasser is a supervisor or someone else who has more power
                        than you, you might be afraid speaking up or saying “no” will impact your job. All of these are
                        normal responses to harassment. Responding this way does not make the harassment less serious,
                        or make you more responsible.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <h3>2. What are the laws?</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <p>Workplace sexual harassment is a form of gender discrimination which violates a woman's
                        fundamental right to equality and right to life, guaranteed under Articles 14, 15 and 21 of the
                        Constitution of India ("Constitution"). Workplace sexual harassment not only creates an insecure
                        and hostile working environment for women but also impedes their ability to deliver in today's
                        competing world. Apart from interfering with their performance at work, it also adversely
                        affects their social and economic growth1 and puts them through physical and emotional
                        suffering.</p>
                    <p>India's first legislation specifically addressing the issue of workplace sexual harassment; the
                        Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013 ("POSH
                        Act") was enacted by the Ministry of Women and Child Development, India in 2013. The Government
                        also subsequently notified the rules under the POSH Act titled the Sexual Harassment of Women at
                        Workplace (Prevention, Prohibition and Redressal) Rules, 2013 ("POSH Rules"). The year 2013 also
                        witnessed the promulgation of the Criminal Law (Amendment) Act, 2013 ("Criminal Law Amendment
                        Act") which has criminalized offences such as sexual harassment, stalking and voyeurism.</p>
                    <p>The POSH Act has been enacted with the objective of preventing and protecting women against
                        workplace sexual harassment and to ensure effective redressal of complaints of sexual
                        harassment. While the statute aims at providing every woman (irrespective of her age or
                        employment status) a safe, secure and dignified working environment, free from all forms of
                        harassment, proper implementation of the provisions of the statute remains a challenge.</p>
                    <p>Although the law preventing sexual harassment at workplace has been in force since 2013, there
                        remains lack of clarity on various aspects pertaining to the statute, including what constitutes
                        sexual harassment, obligations of an employer, remedies/safeguards available to the victim,
                        procedure of investigation, etc. Many are also not fully aware of the criminal consequences of
                        sexual harassment. Lewd jokes, inappropriate comments etc. are dismissed as normal, with women
                        being hesitant to initiate actions due to apprehension of being disbelieved or ridiculed; which
                        underpins the need for greater awareness and greater enforcement.</p>
                    <p>The elimination of gender-based discrimination has been one of the fundamentals of the
                        Constitutional edifice of India. The principle of gender equality is enshrined in the
                        Constitution, in its Preamble, fundamental rights, fundamental duties and Directive Principles.
                        However, workplace sexual harassment in India, was for the very first time recognized by the
                        Supreme Court of India ("Supreme Court") in its landmark judgment of Vishaka v. State of
                        Rajasthan2 ("Vishaka Judgment"), wherein the Supreme Court framed certain guidelines and issued
                        directions to the Union of India to enact an appropriate law for combating workplace sexual
                        harassment. Nothing less of an irony, the POSH Act and the POSH Rules was enacted 16 years after
                        the Vishaka Judgement.</p>
                    <p>
                    <h6>The Vishaka Judgement</h6>--In 1992, Bhanwari Devi, a dalit woman employed with the rural
                    development programme of the Government of Rajasthan, was brutally gang raped on account of her
                    efforts to curb the then prevalent practice of child marriage.3 This incident revealed the hazards
                    that working women were exposed to on a day to day basis and highlighted the urgency for safeguards
                    to be implemented in this regard. Championing the cause of working women in the country, women's
                    rights activists and lawyers filed a public interest litigation in the Supreme Court under the
                    banner of Vishaka.</p>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    <h3>3. What are my rights?</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>1. Work in a safe, discrimination-free environment. Your employer is required by law to provide a
                        safe working environment that is not “hostile” to you based on your sex or gender identity.</p>
                    <p>2. Be told about your company’s sexual harassment policies — including how to report — in a way
                        that you understand.</p>
                    <p>3. Talk about or speak out against sexual harassment, whether it’s happening to you or to someone
                        else. You can talk about sexual harassment or discrimination that’s happening at work to whoever
                        you want, including your coworkers or your supervisor. You also have the right to tell your
                        employer (in a reasonable way) that you believe a company policy or practice perpetuates
                        harassment, or a manager is engaging in harassment or discrimination. It is illegal for your
                        employer to retaliate against (punish) you for talking with coworkers about harassment or
                        discrimination.</p>
                    <p>4. Report the harassment to HR or your boss. Report to HR, your boss, or someone else at your
                        company who has power. We highly recommend reporting in writing (email or letter) and making
                        copies so you have proof later if you need it. It is important to report harassment internally
                        first if you might want to take legal action later. </p>
                    <p>5. Have your complaint taken seriously and investigated. Legally, your employer must take
                        complaints about sexual harassment seriously and investigate them. As soon as your employer is
                        aware of the sexual harassment, the law requires them to (1) take quick action to stop it, and
                        (2) adequately protect you or the person who’s being harassed.</p>
                    <p>6. Ask your employer what will happen and who will know if you file a complaint. You may want to
                        keep your complaint confidential, but be aware: Investigations usually involve interviewing the
                        harasser, the person complaining about harassment, and other employees as potential witnesses.
                    </p>
                    <p>7. Testify as a witness, or participate in an investigation by the EEOC or other government
                        agency. Your employer can’t keep you from providing evidence, testifying at a hearing, or
                        communicating with a government agency that is looking into sexual harassment or other
                        discrimination at your workplace. Even if the investigation eventually finds that there was no
                        harassment, your participation is still a protected right, meaning your employer can’t retaliate
                        against you (punish you) for cooperating.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                    <h3>4. What can I do?</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <p>If you or someone you know is experiencing sexual harassment (including harassment based on
                        gender identity or sexual orientation), here are some actions you can take. Remember: It is
                        normal to be afraid or worried about reporting sexual harassment or taking other action to make
                        the harassment stop. Do what is right for you, and don’t do anything that you think will put you
                        in danger. These are just examples of options you might want to consider.</p>.
                    <p>1. If you’re comfortable doing so, ask the person who’s doing the harassing to stop. You can do
                        this verbally (in person or on the phone) or in writing (i.e., by letter, text message, or
                        email). If you do so in writing, keep copies in case you need proof later. If you do so
                        verbally, you may want to ask a trusted co-worker to go with you to serve as a witness. If you
                        don’t feel comfortable talking or writing to the harasser directly, you should still keep
                        detailed notes about your interactions and experiences. Keep your notes in a safe place outside
                        of work, like at home or in a journal, your personal phone, or email account.</p>
                    <p>2. Look at your company’s policies and complaint process. Most employers give you an employee
                        manual or handbook when you’re first hired. Review this to find out what policies might be in
                        place to protect you. If you never got a copy or lost it, ask for a new one. Look for sections
                        or documents that mention harassment or discrimination, which often include information about
                        how to report the misconduct. If there is no information about how to report, see if there is a
                        phone number for HR (Human Resources) or employee relations.</p>
                    <p>3. Write everything down. <br>
                    <p>Write down what happened when the harassment occurred, including dates and times, where it
                        occurred, what exactly was said or done, who said/did it, what you said or did, and any
                        witnesses who were there. Include as much detail as possible, and keep notes about every time it
                        happens or happened. If it happens again, write down the details again right away, while the
                        memory is fresh.</p>
                    <p>Keep notes of any conversations or meetings you have about the harassment, including with HR,
                        your supervisor, or the person doing the harassment. Record the time, date, and place of the
                        meeting, and who was there. If you’re comfortable doing so, ask any witnesses to write down what
                        they heard or saw.</p>
                    <p>Keep all notes in a safe, private place at home, in a journal or notebook, on a personal email
                        account, or in another safe place not at work.</p>
                    <p>Save any emails, texts, letters, or messages about the harassment, or between you and the
                        harasser. Gather them in one place, at home, on a personal email account, or in another safe
                        place not at work.</p>
                    <p>Keep copies of complaints or reports you file with your company, and all responses.</p>
                    <p>Keep copies of any other documents related to the harassment, and any responses.</p>
                    </p>
                    <p>4. Report the harassment to HR or your boss. We understand it’s not always possible to feel
                        comfortable or safe at work after telling your boss or a supervisor about the harassment you’re
                        experiencing. But we recommend reporting harassment to someone at work who is in a position of
                        authority, because it is harder to make your employer take action unless you report the
                        harassment internally first. </p>
                    <p>5. You could report the harassment anonymously. If reporting the harassment is not an option that
                        feels safe or comfortable to you, you could make an anonymous report to HR or a manager. Some
                        employers operate helplines or other ways for you to report problems anonymously, such as an
                        employee assistance program or an Ombudsperson.</p>
                    <p>6. Collective Action. You could come together with one or more workers to demand a meeting with
                        your employer, submit a petition, or take some other action.</p>
                    <p>7. Go to your union. If you’re a member of a union, you could talk to your union representative
                        or shop steward and consider filing a grievance. Ask about the collective bargaining agreement
                        and see if it includes provisions about sexual harassment or other discrimination. If you go to
                        your union with a complaint about sexual, racial, or other kind of harassment, the union has a
                        duty to help you. This is true even if the person you’re complaining about is also a member of
                        the same union.</p>
                    <p>8. File a complaint with a government agency.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive">
                    <h3>5. What could happen?</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <p>If you take legal action, there are different kinds of “remedies” you can ask for. Some have to
                        do with money, and others are more about changing your employer’s behavior. Not everyone can get
                        all of these things. Each case is different, but these are some common examples of things you
                        can demand, and may be able to get if you’re successful (i.e. if you win your lawsuit or reach a
                        settlement).</p>
                    <p>1. Compensation for lost wages and other economic losses if the sexual harassment resulted in a
                        loss of work or income (i.e., you had to take a leave of absence, lost hours, were fired and had
                        no income for a while, or lost your job and have not found one that pays you as much.) You could
                        also seek compensation for expenses related to any medical or health treatment you needed or
                        will need in the future because of sexual harassment or retaliation.</p>
                    <p>2. Compensation for emotional distress and physical pain or suffering, which could include
                        anguish, stress, anxiety, pain and suffering, loss of sleep, damage to your reputation, and loss
                        of enjoyment of life resulting from harassment.</p>
                    <p>3. Reinstatement: If you were fired or forced out because of the sexual harassment or
                        retaliation, you could potentially get your job back.</p>
                    <p>4. Punitive damages: If you sue in court and show that the employer acted with malice or showed
                        “reckless indifference” to your rights, you may be able to get the court or a jury to order that
                        the employer pay punitive damages, which are meant to punish especially bad employers and send a
                        warning message to other employers.</p>
                    <p>5. Make your employer change their policies or practices. You may be able to get the court to
                        order, or get your employer to agree to change the way it does things in the future to help make
                        the workplace safe and fair for everyone, and to help ensure that others do not suffer the same
                        thing you went through.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSix">
                    <h3>6. Tools & resources</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">

                    <body style="padding: 2.5rem;">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-md">
                                <table class="table">
                                    <thead colspan="2" style="font"><strong style>Resources</strong></thead>

                                    <tbody>
                                        <tr>
                                            <td>The Sexual Harassment of Women at Workplace (Prevention, Prohibition,
                                                and Redressal) Act 2013</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/Sexual-Harassment-at-Workplace-Act.pdf">Download
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td>The Sexual Harassment of Women at Workplace (Prevention, Prohibition and
                                                Redressal) Act, 2013 - Hindi</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/SH Act_Hindi.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>The Sexual Harassment of Women at Workplace (Prevention, Prohibition,
                                                and Redressal) Rules 2013</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/Sexual-Harassment-at-Workplace-Rules.pdf">Download
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td>Alignment of Service Rules with Sexual Harassment of Women at Workplace
                                                (Prevention, Prohibition and Redressal) Act, 2013 as per DoPT
                                                Notification</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DOPT Notification regarding Alignment of Service Rules with SH Act.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Step wise Inquiry Procedure for complaints made under Sexual Harassment
                                                of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013
                                                as prescribed by DoPT</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DoPT Notification regarding Inquiry.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Appeal Process under Sexual Harassment of Women at Workplace
                                                (Prevention, Prohibition and Redressal) Act, 2013 as prescribed by DoPT
                                            </td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DoPT Notification regarding Appeal process.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DoPT Notification regarding inquiry of a person senior to ICC
                                                Chairperson.</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DoPT Notification regarding Seniority of Chairperson of ICC.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Guidelines for conducting inquiry under Sexual Harassment of Women at
                                                Workplace (Prevention, Prohibition and Redressal) Act, 2013 as
                                                prescribed by DoPT</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DoPT Notification regarding completion of Inquiry within 30 days.pdf">Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Special Leave to be provided under Sexual Harassment of Women at
                                                Workplace (Prevention, Prohibition and Redressal) Act, 2013 as
                                                prescribed by DoPT</td>
                                            <td><a target="_blank"
                                                    href="http://www.shebox.nic.in/assets/site/main/images/DoPT Notification regarding Special Leave during SH Inquiry.pdf">Download</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>