<%- include("partials/mainHeader") -%>
    <div class="mainLoginSignupContainer">
        <div class="leftLoginSignUpContainer">

        </div>

        <div class="rightLoginSignUpContainer">
            <div class="rightLoginSignUpContentContainer">

                <div class="headerSignUp">
                    <h1>Login Here - Super Admins</h1>
                    <p><%= passErrMessage %></p>
                </div>
                <div class="formLogin">
                    <form action="/secret-super-admin" method="POST">
                        <div class="signup-inputs">
                            <label for="secretAddKey">Enter the secret key</label>
                            <input type="password" id="secretAddKey" name="secretAddKey" autocomplete="off" required>
                        </div>
                        <div class="signup-inputs">
                            <label for="adminKey">Enter you unique Authentication ID</label>
                            <input type="password" id="adminKey" name="adminKey" autocomplete="off" required>
                        </div>
                        <div class="signup-buttons">
                            <button type="submit">Go Inside</button>
                            <button type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <%- include("partials/mainFooter") -%>