<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
    <!-- Css -->
    <!-- <link rel="stylesheet" href="index.css"> -->
    <style>*{
        margin: 0;
        padding: 0;
     
    }
    
    .main
    {
        padding-top: 20px;
        height: 185rem;
        background-color: #fbd39c;
    }
    
    
    .stories{
        padding: 20px;
        /* height: 420px; */
        width: 80%;
        border-radius: 10px;
        background-color: #efede9;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }
    
    .stories p{
        font-size: 1.3rem;
        padding: auto;
    }
    .five{
        margin-bottom: 30px;
    }
    .heading
    {
        background-image: url("https://as1.ftcdn.net/v2/jpg/03/24/19/96/1000_F_324199633_F3LaikfqlV5j6dpakofckHQUEe3BWQCc.jpg");
        background-size: 100% 300px; 
        opacity: 0.8;
    
    }
    /* .heading img{
        height: 50%;
        width: 100%;
    } */</style>
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>

    <nav class="navbar navbar-expand-xl navbar navbar-dark " style="background-color: #6096B4">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">HER VOICE MATTERS</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/resources" class="nav-link ">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="/stories" class="nav-link">Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/aboutus" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contactus" class="nav-link">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login/signup</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="/adminLogin" class="dropdown-item">Administration Login</a>
                            <a href="/userLogin" class="dropdown-item">User Login</a>
                            <a href="/signupUser" class="dropdown-item">User Signup</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



<body>
    <div class="main">
        <div class="heading" style="height: 300px; width: 85%; margin:  auto; border-radius: 5px; padding-bottom: 10px; ">
            <h1 style="text-align: center; font-size: 3rem; color: #cf994d; font-weight: bolder;position: relative;
            top: 128px;">Some stories that will inspire you..........</h1>
            <!-- <img src="https://as1.ftcdn.net/v2/jpg/04/05/15/66/1000_F_405156695_vA2G5N1Jh8UNzzfNXAD55TOs8mBMJIG5.jpg" alt=""> -->
        </div>
        <div class="stories one">
            <h1 style="font-weight: bold;">Smt. X, a 66-year-old woman,</h1><p> approached NCW alleging that she had been subjected to physical & mental harassment by the Secretary, Jan Kalyan Trust, Anand Niketan Vridh Sevashram, Noida, and has been later thrown out from the Ashram. She submitted that she was denied food and was always compelled to vacate the old age home. She contended that she would only leave after she is refunded Rs. 1,00,000/-, which she had earlier deposited as donation to the Trust. However, the Trust people refused to refund her the said amount stating that it was donation and was non-refundable. The complainant being immensely perturbed and aggrieved filed her complaint before NCW for the refund of her money. The NCW took up the matter wherein the complainant & the Secretary, Jan Kalyan Trust, Anand Niketan Vridh Sevashram, Noida, were called to the Commission for a hearing. After a detailed hearing, the Trustees agreed to refund Rs. 60,000/- to the complainant, as they wanted to resolve the dispute amicably. Consequently, Smt. X was refunded Rs. 60,000/- vide cheque issued by the Trust where after she vacated the room after taking away all her belongings. </p>
        </div>
        <div class="stories two">
            <h1 style="font-weight: bold;">The NCW received a complaint forwarded by the Hon’ble Chairperson,</h1><p> Meghalaya State Commission for Women, Shillong, regarding the alleged physical attacks on four women by BSF personnel. The matter was taken up by NCW and Action Taken Reports (ATRs) were sought from the Director General, Border Security Force, New Delhi, and Inspector General, Border Security Force, Shillong, requesting them for initiating appropriate action in the matter. Thereafter, the Commission is in receipt of ATR from the Director General, Border Security Force, New Delhi, wherein it has been informed that Court of Inquiry has been ordered by DIG, BSF, Shillong, to investigate into the matter. The ATR also revealed that the matter has been mutually compromised between the parties and a “Deed of Compromise” has been presented in the Court where after the proceedings has been dropped since all the sections of the case registered at Pynursla Police Station were compoundable. That, this compromise was voluntarily reached at between the parties on their own free, without any force or compulsion whatsoever.  </p>
        </div>
        <div class="stories three">
            <h1 style="font-weight: bold;">The NCW received a complaint from Sh. Z,</h1><p> a permanent resident of Orissa, alleging that his sister Smt. Y, has been brutally murdered by her husband & in-laws for want of more dowry. He stated that since the very inception of the marriage, his sister was subjected to dowry demand & harassment by the husband & in-law and when she failed to fulfill their aggravated demands for dowry, she was brutally murdered in District Anand of Gujarat. The complainant alleged that the police was not taking prompt action in the case and even the Investigation Officer of the case was about to drop Section 304 (B) of IPC i.e., “Dowry Death”. The NCW took up the matter and Action Taken Reports were sought from the Director General of Police, Gandhinagar, Gujarat, District Magistrate & Collector, Anand and Superintendent of Police, Anand, wherein they were requested to initiate appropriate action. Thereafter, the Commission received an ATR from the Gujarat Police wherein it was informed that the issue was re-examined where after the charge-sheet has been presented in the concerned court and Section 304 (B) of IPC has not been dropped during the investigation.    </p>
        </div>
        <div class="stories four" ">
            <h1 style="font-weight: bold;">Smt. J, a resident of New Delhi –</h1><p> 18 approached NCW alleging that she has been subjected to “Sexual Harassment / Harassment at Work Place” by the Chairman of the school where she was employed. She alleged that she was harassed & tortured by the said perpetrator on one or the other pretext. She further stated that her harassment has aggravated further after the alleged perpetrator came to know that she has filed a complaint against him before the NCW alleging “SHWP”. She was even suspended / terminated on flimsy grounds. The Commission considered the matter and Action Taken Reports were sought from the Director, Dte. of Education, Govt. of NCT., Delhi and the President of the Management Committee of the School. Thereafter, the Commission received an ATR from the Dte. of Education, wherein it was informed that an Inquiry Committee was constituted to conduct an inquiry into the matter which has submitted its report to the Directorate along with its findings & recommendations thereof. Based on the Inquiry Report, the Directorate directed the management of the school to re-instate the complainant and also to initiate action against the alleged perpetrator who has been found guilty by the Committee. The Commission, later, was informed that the complainant has been re-instated and action has also been taken against the perpetrator.</p>
        </div>
        <div class="stories five">
            <h1 style="font-weight: bold;">A lady  approached the National Commission for Women </h1><p>alleging that one Mr. ‘Y’ impersonated as an AIIMS doctor and provided wrong medication to her son; due to which, her son’s kidneys failed. An FIR was registered against the fake doctor in Hari Nagar Police Station, West District, New Delhi, against which Mr. Y filed for anticipatory bail. The bail was, however, denied by the court but the police did not arrest him. The matter was taken up by the Commission and SHO of Hari Nagar Police Station was given a notice to appear before the Commission for a personal hearing alomg with the detailed ATR on the said complaint. The SHO DEPOSED BEFORE  THE Commission and submitted an Action  Taken Report wherein it said that the alleged accused had been arrested and  presented before the court and the court had sent him to judicial  custody for two days. Thereafter, at Commission’s intervention, the accused medical representative was removed from service by his company.</p>
        </div>
    

    </div>
   
</body>
</html>